<main class="container">
	<div class="row">
		<h2 class="text-center col py-1">{{'show.titre' | translate : {x : artistName} }}</h2>
	</div>

	<div class="row my-2 text-center justify-content-center">
		<div class="col-auto artist">
		    <google-map class="map" [center]="centre" [zoom]="zoom" height="400px">
				<map-marker *ngFor="let s of tabShows" [position]="{lat: calculerPosition(s.lat), lng: calculerPosition(s.long)}">
				</map-marker>
			</google-map>
		</div>		  
	</div>
	<br>
	<div *ngIf="tabShows.length == 0">
		<p translate>{{'show.none' | translate : {x : artistName} }}</p>
	</div>
	<br>
	<div class="row mx-1">
		<div class="col-3 p-1" *ngFor="let show of tabShows">
			<div class="artist">
			  <h4>{{show.date | date: 'd MMM, y, h:mm:ss a':'':'fr'}}</h4>
			  <div>{{show.country}}</div>
			  <div>{{show.city}}</div>
			</div>
		</div>
	</div>
</main>